In [1]:
# Lo primero es Importar las librerias que utilizaremos en el proceso de Extraccion, Transformacion y carga de datos (ETL).
import pandas as pd
import numpy as np

In [2]:
#Se realizara la carga de archivos valores separados por comas (CSV)
df_admissions= pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\ADMISSIONS.csv')
df_callout= pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\CALLOUT.csv')
df_caregivers= pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\CAREGIVERS.csv')
df_chartevents = pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\CHARTEVENTS.csv')
df_cptevents = pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\CPTEVENTS.csv')
df_datetimeevents = pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\DATETIMEEVENTS.csv')
df_diagnoses_icd = pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\DIAGNOSES_ICD.csv')
df_drgcodes = pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\DRGCODES.csv')

C:\Users\cfari\AppData\Local\Temp\ipykernel_16392\3302416240.py:5: DtypeWarning: Columns (8,10,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_chartevents = pd.read_csv(r'C:\Users\cfari\OneDrive\Escritorio\PF_GRUPAL\DATASET\CHARTEVENTS.csv')

Se eliminan columnas inncesarias de los datasets

In [3]:
df_admissions

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,12258,10006,142345,2164-10-23 21:09:00,2164-11-01 17:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,SEPARATED,BLACK/AFRICAN AMERICAN,2164-10-23 16:43:00,2164-10-23 23:00:00,SEPSIS,0,1
1,12263,10011,105331,2126-08-14 22:32:00,2126-08-28 18:59:00,2126-08-28 18:59:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Private,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,HEPATITIS B,1,1
2,12265,10013,165520,2125-10-04 23:36:00,2125-10-07 15:13:00,2125-10-07 15:13:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,SEPSIS,1,1
3,12269,10017,199207,2149-05-26 17:19:00,2149-06-03 18:42:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,2149-05-26 12:08:00,2149-05-26 19:45:00,HUMERAL FRACTURE,0,1
4,12270,10019,177759,2163-05-14 20:43:00,2163-05-15 12:00:00,2163-05-15 12:00:00,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,NaN,NaN,ALCOHOLIC HEPATITIS,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,41055,44083,198330,2112-05-28 15:45:00,2112-06-07 16:50:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,ENGL,CATHOLIC,SINGLE,WHITE,2112-05-28 13:16:00,2112-05-28 17:30:00,PERICARDIAL EFFUSION,0,1
125,41070,44154,174245,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,2178-05-14 17:37:00,2178-05-14 22:08:00,ALTERED MENTAL STATUS,1,1
126,41087,44212,163189,2123-11-24 14:14:00,2123-12-30 14:31:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,REHAB/DISTINCT PART HOSP,Medicare,ENGL,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,NaN,NaN,ACUTE RESPIRATORY DISTRESS SYNDROME;ACUTE RENA...,0,1
127,41090,44222,192189,2180-07-19 06:55:00,2180-07-20 13:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,ENGL,CATHOLIC,SINGLE,WHITE,2180-07-19 04:50:00,2180-07-19 08:23:00,BRADYCARDIA,0,1
128,41092,44228,103379,2170-12-15 03:14:00,2170-12-24 18:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2170-12-15 02:22:00,2170-12-15 05:25:00,CHOLANGITIS,0,1

ADMISSIONS = se eliminan las columnas insurance, language, religion y marital_status, ethnicity,  
los supuestos valores nulos son celdas en blanco se dejan como estan ya que no son un obstaculo para el analisis, 
todo lo contrario para la columna deathtime son necesarios ya que representan los pacientes que no han fallecido.

In [4]:
df_admissions = df_admissions.drop (['insurance', 'language', 'religion', 'marital_status', 'ethnicity'], axis=1)

In [5]:
#se crea nuevo df para con los cambios para nuestro trabajo sin afectar al original
df_admissions.to_csv("df_admissions.csv", index=False)

CALLOUT = se eliminan las columnas que no seran necesarios para nuestro trabajo, submit_wardid, submit_careunit, curr_wardid, curr_careunit, callout_status,discharge_wardid.
las columnas que tiene que ver con fechas y estado de alta, asi como informacion de infecciones de los pacientes se dejaron como estan originalmente ya que pueden servir para nuestro analisis.
los valores NaN son celdas en blanco se dejan como estan ya que no son un obstaculo para el analisis.

In [6]:
df_callout= df_callout.drop (['submit_wardid', 'submit_careunit', 'curr_wardid', 'curr_careunit', 'callout_status','discharge_wardid'], axis=1)

In [7]:
df_callout.to_csv("df_callout.csv", index=False)

CPTEVENTS= Se elimina la columna 'costcenter' ya que no aporta informacion para nuestro analisis.

In [8]:
df_cptevents= df_cptevents.drop (['costcenter'], axis=1)

In [9]:
df_cptevents = df_cptevents.to_csv("df_cptevents.csv", index=False)

DATETIMEEVENTS = Se eliminan las columnas 'warning', 'error', 'resultstatus', ya que se encuentran en blanco.

In [10]:
df_datetimeevents

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valueuom,warning,error,resultstatus,stopped
0,208474,10076,198503,201006.0,5684,2107-03-25 04:00:00,2107-03-25 04:34:00,20482,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
1,208475,10076,198503,201006.0,5684,2107-03-25 07:00:00,2107-03-25 07:06:00,15004,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
2,208836,10076,198503,201006.0,5684,2107-03-26 04:00:00,2107-03-26 05:31:00,20834,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
3,208837,10076,198503,201006.0,5684,2107-03-26 08:00:00,2107-03-26 08:33:00,17480,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
4,208838,10076,198503,201006.0,5684,2107-03-26 16:00:00,2107-03-26 16:08:00,17480,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15546,2314895,44228,103379,217992.0,224261,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date,0.0,0.0,NaN,NaN
15547,2314896,44228,103379,217992.0,224279,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-17 15:26:00,Date and Time,0.0,0.0,NaN,NaN
15548,2314897,44228,103379,217992.0,224280,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date,0.0,0.0,NaN,NaN
15549,2314898,44228,103379,217992.0,224282,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date,0.0,0.0,NaN,NaN
15550,2314899,44228,103379,217992.0,225756,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date,0.0,0.0,NaN,NaN

In [11]:
df_datetimeevents.drop (['warning', 'error', 'resultstatus', 'stopped'], axis=1)

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valueuom
0,208474,10076,198503,201006.0,5684,2107-03-25 04:00:00,2107-03-25 04:34:00,20482,2107-03-24 00:00:00,Date
1,208475,10076,198503,201006.0,5684,2107-03-25 07:00:00,2107-03-25 07:06:00,15004,2107-03-24 00:00:00,Date
2,208836,10076,198503,201006.0,5684,2107-03-26 04:00:00,2107-03-26 05:31:00,20834,2107-03-24 00:00:00,Date
3,208837,10076,198503,201006.0,5684,2107-03-26 08:00:00,2107-03-26 08:33:00,17480,2107-03-24 00:00:00,Date
4,208838,10076,198503,201006.0,5684,2107-03-26 16:00:00,2107-03-26 16:08:00,17480,2107-03-24 00:00:00,Date
...,...,...,...,...,...,...,...,...,...,...
15546,2314895,44228,103379,217992.0,224261,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date
15547,2314896,44228,103379,217992.0,224279,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-17 15:26:00,Date and Time
15548,2314897,44228,103379,217992.0,224280,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date
15549,2314898,44228,103379,217992.0,224282,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date
15550,2314899,44228,103379,217992.0,225756,2170-12-19 12:04:00,2170-12-19 12:04:00,18602,2170-12-15 00:00:00,Date

In [12]:
df_datetimeevents = df_datetimeevents.to_csv("df_datetimeevents.csv", index=False)